@import url("https://use.typekit.net/mwh1uus.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "scandia-web", sans-serif;
    color: #674a34;
}

h1 {
    font-size: 76px;
    line-height: 1.25;
}

h2 {
    font-size: 30px;
    line-height: 1.25;
    font-weight: 600;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
}

.site-container {
    max-width: 1366px;
    margin: 0 auto;
}


.main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./assets/canvas.jpg");
    width: 100%;
    height: 100%;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ede7dd;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .75;
}

.hero {
    padding: 100px 0 70px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.main-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.button a {
    background-color: #674a34;
    border: 2px solid #674a34;
    color: #ede7dd;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 24px;
    transition: all .4s ease;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button a:hover {
    background-color: transparent;
    transition: all .4s ease;
    color: #674a34;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-top: 3rem;
}


.grid-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: #222;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
	opacity: 0.95;
	display: none;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}
.lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
}
.lightbox a img {
	border: none;
}
.lb-outerContainer {
	position: relative;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	background: #fff;
}
.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}
.lb-container {
	padding: 0px;
}
.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(../img/loading.gif) no-repeat;
}
.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
.lb-container > .nav {
	left: 0;
}
.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}
.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(../img/prev.png) left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(../img/next.png) right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}
.lb-data {
	padding: 0 4px;
	color: #ccc;
}
.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}
.lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
}
.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
}
.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url("./assets/close.png") top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}